.paginator {
  padding: 20px 0;
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.paginator__page {
  width: 15px;
  height: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: 0.3 ease;
}

.paginator__page::hover:not(.active) {
  opacity: 0.7;
  background-color: rgb(95, 72, 72);
}

.paginator__page_active {
  outline: none;
  background-color: #4caf50;
}
